/* GLOBAL */
body {
    font-family: 'Courier New', Courier, monospace;
    background: #000;
    color: #fff;
}

/* MAP */

.geocountry {
    fill: #222;
    stroke: #777;
}

.geocountry:hover {
    fill: #333;
    stroke: #777;
}

.geovisited {
    fill: #030;
    stroke: #060;
}

.geovisited:hover {
    fill: #050;
    stroke: #080;
}

.geovisited.selected {
    fill: #070;
    stroke: #0a0;
}